@import url(https://fonts.googleapis.com/css?family=Poppins);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fcfcfc;
}

a {
  text-decoration: none;
  cursor: pointer;
  padding: 8px 0;
}

.options {
  width: 100%;
  background-color: #fff;
  border: 1px solid #cfd4dc;
  border-radius: 15px;
  padding: 10px;
}

select {
  font-size: 14px;
  border: none;
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #cfd4dc;
  border-radius: 15px;
}

.text-red {
  color: #ff0000;
}

.container {
  max-width: 1024px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 0 15px;
}

.container .title-head {
  padding: 20px 0;
}

.container .main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .bottom-content {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  margin-top: 10px;
}

.form-input {
  max-width: 300px;
  background-color: #f0f0f0;
  border-radius: 15px;
  font-size: 16px;
  color: #333;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-input form {
  padding: 10px 20px;
}

.form-input form .form-group {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.form-input form .form-group label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  padding-left: 10px;
}

.form-input form .form-group .form-control {
  margin: 5px 0;
  padding: 0 10px;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #cfd4dc;
  border-radius: 10px;
}

.form-input form .form-group .form-radio {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  color: #636c72;
}

.form-input form .form-group .form-radio input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 5px;
  background: #636c72;
}

.form-input form .form-group .form-radio label {
  padding: 0px 40px 0px 10px;
}

.form-input form .dropdown {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
}

.form-input form .dropdown .form-control {
  margin: 5px 0;
  padding: 0 10px;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #cfd4dc;
  border-radius: 10px;
}

.form-input form .dropdown .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  color: #636c72;
}

.form-input form .dropdown .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  top: 100%;
}

.form-input form .dropdown .dropdown-content .dropdown-items {
  padding: 10px;
}

.form-input form .dropdown .dropdown-content .dropdown-items:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 15px;
}

.form-input form .btn-submit {
  width: 45%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #295757;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.category-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  height: 504px;
  padding: 10px;
  border: 1px solid #cfd4dc;
  border-radius: 15px;
}

.category-wrapper h3 {
  font-size: 24px;
  margin-bottom: 5px;
  padding-left: 10px;
  font-weight: 700;
}

.category-wrapper .stats-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  border-radius: 16px;
}

.category-wrapper .stats-wrapper .stats-item {
  width: 100px;
  padding: 8px 12px;
}

.category-wrapper .stats-wrapper .stats-item .stats-item-content {
  border-right: #dbdbdb 1px solid;
}

.category-wrapper .stats-wrapper .stats-item .stats-item-content span {
  font-size: 10px;
  color: #636c72;
  padding-left: 5px;
}

.category-wrapper .stats-wrapper .stats-item .stats-item-content h4 {
  font-size: 20px;
  color: #333;
  padding-left: 10px;
}

.category-wrapper .chart-wrapper {
  width: 100%;
  height: 100%;
  margin: 10px auto;
}

.availability-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 504px;
  padding: 10px;
  border: 1px solid #cfd4dc;
  border-radius: 15px;
}

.availability-wrapper .stats-wrapper {
  width: 100%;
  height: 80%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
}

.availability-wrapper .stats-wrapper .chart-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.availability-wrapper .stats-wrapper .chart-labels span {
  width: 20px;
  height: 20px;
  margin: auto 10px;
  border-radius: 5px;
}

.availability-wrapper .stats-wrapper .chart-labels .available {
  background-color: #295757;
}

.availability-wrapper .stats-wrapper .chart-labels .full {
  background-color: #e74c3c;
}

.availability-wrapper .stats-wrapper .chart-labels p {
  margin-right: 20px;
  font-size: 14px;
  color: #636c72;
}

.table-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.table-content table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
  /* correct offset on first border spacing if desired */
  overflow: scroll;
}

.table-content table input[type="checkbox"] {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 auto;
}

.table-content th {
  font-size: 14px;
  color: #636c72;
  padding: 10px;
  font-weight: 100;
}

.table-content td {
  border: solid 1px #cfd4dc;
  border-style: solid none;
  padding: 20px;
  text-align: center;
}

.table-content td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-content td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.table-content .options-popup {
  max-width: 500px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 86%;
  right: 35%;
  border: #cfd4dc 1px solid;
  border-radius: 15px;
  background-color: #fff;
  width: 50%;
  padding: 10px 10px;
  z-index: 100;
}

.table-content .options-popup button {
  width: 120px;
  font-size: 12px;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #ee5c5c;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.table-content .options-popup .arrive {
  background-color: #295757;
  color: #fff;
  font-weight: 500;
}

.table-content .options-popup span {
  font-size: 14px;
  color: #636c72;
  margin: auto;
}

.table-content .options-popup p {
  font-size: 25px;
  color: #636c72;
  margin: 0 10px;
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */