@import url(https://fonts.googleapis.com/css?family=Poppins);

$gray_color: #f0f0f0;
$white_color: #fff;
$form_text_color: #333;
$poppins: "Poppins", sans-serif;
$border_color: #cfd4dc;
$placeholder_color: #636c72;
$error_mg: #ff0000;
$primary_color: #295757;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

body {
  background: #fcfcfc;
}

a {
  text-decoration: none;
  cursor: pointer;
  padding: 8px 0;
}
.options {
  width: 100%;
  background-color: $white_color;
  border: 1px solid $border_color;
  border-radius: 15px;
  padding: 10px;
}

select {
  font-size: 14px;
  border: none;
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid $border_color;
  border-radius: 15px;
}

.text-red {
  color: $error_mg;
}

.container {
  max-width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 15px;
  .title-head {
    padding: 20px 0;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .bottom-content {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    margin-top: 10px;
  }
}

.form-input {
  max-width: 300px;
  background-color: $gray_color;
  border-radius: 15px;
  font-size: 16px;
  color: $form_text_color;
  outline: none;
  transition: all 0.3s;
  form {
    padding: 10px 20px;
    .form-group {
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      label {
        font-size: 16px;
        color: $form_text_color;
        margin-bottom: 5px;
        padding-left: 10px;
      }
      .form-control {
        margin: 5px 0;
        padding: 0 10px;
        width: 100%;
        height: 44px;
        margin-bottom: 20px;
        background-color: $white_color;
        border: 1px solid $border_color;
        border-radius: 10px;
      }
      .form-radio {
        width: 100%;
        height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        color: #636c72;
        input[type="radio"] {
          width: 20px;
          height: 20px;
          margin: 5px;
          background: #636c72;
        }
        label {
          padding: 0px 40px 0px 10px;
        }
      }
    }
    .dropdown {
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      position: relative;
      .form-control {
        margin: 5px 0;
        padding: 0 10px;
        width: 100%;
        height: 44px;
        margin-bottom: 20px;
        background-color: $white_color;
        border: 1px solid $border_color;
        border-radius: 10px;
      }
      .btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        color: #636c72;
      }
      .dropdown-content {
        display: flex;
        flex-direction: column;
        background-color: $white_color;
        width: 100%;
        height: auto;
        padding: 5px;
        border-radius: 15px;
        position: absolute;
        top: 100%;
        .dropdown-items {
          padding: 10px;
        }
        .dropdown-items:hover {
          background-color: $gray_color;
          cursor: pointer;
          border-radius: 15px;
        }
      }
    }
    .btn-submit {
      width: 45%;
      padding: 10px;
      outline: none;
      border: none;
      border-radius: 10px;
      background-color: $primary_color;
      color: $white_color;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 504px;
  padding: 10px;
  border: 1px solid $border_color;
  border-radius: 15px;
  h3 {
    font-size: 24px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-weight: 700;
  }

  .stats-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $gray_color;
    border-radius: 16px;
    .stats-item {
      width: 100px;
      padding: 8px 12px;
      .stats-item-content {
        border-right: #dbdbdb 1px solid;
        span {
          font-size: 10px;
          color: $placeholder_color;
          padding-left: 5px;
        }
        h4 {
          font-size: 20px;
          color: $form_text_color;
          padding-left: 10px;
        }
      }
    }
  }

  .chart-wrapper {
    width: 100%;
    height: 100%;
    margin: 10px auto;
  }
}

.availability-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 504px;
  padding: 10px;
  border: 1px solid $border_color;
  border-radius: 15px;
  .stats-wrapper {
    width: 100%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
    .chart-labels {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      span {
        width: 20px;
        height: 20px;
        margin: auto 10px;
        border-radius: 5px;
      }
      .available {
        background-color: $primary_color;
      }
      .full {
        background-color: #e74c3c;
      }
      p {
        margin-right: 20px;
        font-size: 14px;
        color: $placeholder_color;
      }
    }
  }
}

.table-content {
  position: relative;
  display: flex;
  height: 300px;
  flex-direction: column;
  width: 100%;
  table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px; /* correct offset on first border spacing if desired */
    overflow: scroll;
    input[type="checkbox"] {
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 auto;
    }
  }
  th {
    font-size: 14px;
    color: $placeholder_color;
    padding: 10px;
    font-weight: 100;
  }
  .borde-input {
    border: solid 1px $primary_color;
    border-style: solid none;
    padding: 20px;
    text-align: center;
  }
  td {
    border: solid 1px $border_color;
    border-style: solid none;
    padding: 20px;
    text-align: center;
  }
  td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .options-popup {
    max-width: 500px;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 86%;
    right: 35%;
    border: $border_color 1px solid;
    border-radius: 15px;
    background-color: $white_color;
    width: 50%;
    padding: 10px 10px;
    z-index: 100;
    button {
      width: 120px;
      font-size: 12px;
      margin: 0 10px;
      padding: 0 10px;
      border-radius: 10px;
      background-color: #ee5c5c;
      color: $white_color;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .arrive {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 144px;
      margin: auto;
      padding: 10px;
      background-color: $primary_color;
      color: $white_color;
      font-weight: 500;
      img {
        margin: auto;
      }
    }
    span {
      font-size: 14px;
      color: $placeholder_color;
      margin: auto;
    }
    p {
      font-size: 25px;
      color: $placeholder_color;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}
