@import url(https://fonts.googleapis.com/css?family=Poppins);

$gray_color: #f0f0f0;
$white_color: #fff;
$form_text_color: #333;
$poppins: "Poppins", sans-serif;
$border_color: #cfd4dc;

body {
  font-family: $poppins;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.form-input {
  width: 330px;
  height: 504px;
  background-color: $gray_color;
  border-radius: 15px;
  font-size: 16px;
  color: $form_text_color;
  outline: none;
  transition: all 0.3s;
  form {
    padding: 20px;
    .form-group {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      label {
        font-size: 16px;
        color: $form_text_color;
        margin-bottom: 5px;
        padding-left: 10px;
      }
      .form-control {
        margin: 5px 0;
        padding: 0 10px;
        width: 95%;
        height: 44px;
        margin-bottom: 20px;
        background-color: $white_color;
        border: 1px solid $border_color;
        border-radius: 10px;
      }
      button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        color: #636c72;
      }
    }
  }
}
